<section class="todoapp">
  <header class="header">
    <script src="https://use.typekit.net/hkj4mqq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,700" rel="stylesheet">
    <h1>Rise Up</h1>
    <h2><%= Date.today %></h2> 
      <br />
    <form id="new-form">
      <input type="text" class="new-todo"  placeholder="Type here: What needs to be done?" autofocus/>
    </form>
  </header>
  <section class="main">
  <br />
    <ul class="todo-list">

    </ul>
  </section>
</section>

  <br />
<section class="author">
  Just another <%= link_to "todo-mvc", "http://todomvc.com" %>
  app, built by
  <%= link_to "@gonsanchezs", "http://github.com/gonsanchezs" %><i class="em em-v"></i>
</section>